<div class="main">
    <div class="win">
        <ul>
            <li class="win-list">
                <a (click)="exercise1()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_1.png" alt="">
                        </div>
                        <h3>Валъюр</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise2()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_2.png" alt="">
                        </div>
                        <h3>Падежт</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise3()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_3.png" alt="">
                        </div>
                        <h3>Прилагательнай</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise4()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_4.png" alt="">
                        </div>
                        <h3>Валрисьме</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise5()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_5.png" alt="">
                        </div>
                        <h3>Числительнай</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise6()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_6.png" alt="">
                        </div>
                        <h3>Глаголсь</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise7()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_7.png" alt="">
                        </div>
                        <h3>Пингтне</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise8()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_8.png" alt="">
                        </div>
                        <h3>Антонимт</h3>
                    </div>
                </a>
            </li>
            <li class="win-list">
                <a (click)="exercise9()">
                    <div class="win-list-block">
                        <div class="win-list-block-img">
                            <img src="/assets/img/theme_9.png" alt="">
                        </div>
                        <h3>Валмельгакс</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- <div class="top-left-button">
    <button routerLink="../">Выход</button>
</div> -->