a {
    color: #000;
}

.main {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background: url(../../../../assets/img/background.png);
    background-size: cover;

    .win {
        margin: auto;
        padding: 2%;
        background: rgb(233, 233, 233, 0.2);
        backdrop-filter: blur(4px);
        border-radius: 50px;
        border: 4px solid #8D2F3F;
        max-height: 700px;
        overflow-y: auto;
        -ms-overflow-style: none; /* Для Internet Explorer и Edge */
        scrollbar-width: none;/* Для Firefox */

        .win-title {
            text-align: center;
            display: flex;
            justify-content: center;

            button {
                border-radius: 50%;
                border: none;
                padding: 10px;
                align-items: center;
                background: #AC3146;
                color: #fff;
                font-size: 16px;
                border: 3px solid #AC3146;
                margin-left: 20px;
                width: 6%;
            }

            button:hover {
                background: none;
                border: 3px solid #AC3146;
                color: #000;
            }
            h1 {
                font-weight: 400;
            }
        }

        .btn-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
  
            button {
                border-radius: 10px;
                border: none;
                padding: 8px;
                align-items: center;
                background: #AC3146;
                color: #fff;
                font-size: 16px;
                width: 40%;
                border: 3px solid #AC3146;
            }
  
            button:hover {
                background: none;
                border: 3px solid #AC3146;
                color: #000;
            }
        }

        .win::-webkit-scrollbar {
            display: none; /* Для Chrome, Safari и Opera */
          }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            height: 100%;

            li {
                margin: 10px 0;
                font-size: 14px;
            }

            .win-list {
                text-align: center;

                .win-list-block {
                    background: linear-gradient(330deg, rgba(255, 255, 255, 10.00) 3.9%, rgba(255, 255, 255, 0.40) 35%);
                    border-radius: 15%;
                    border: 2px solid rgba(255, 255, 255);
                    padding: 10px 5px;

                    input {
                        width: 80%;
                        border: 3px solid #8e2637;
                        border-radius: 5px;
                    }

                    .win-list-block-img {
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                        padding: 10px;
                        padding-bottom: 8px;
                        margin: 0 auto;
                        // height: 130px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }


            }
        }
    }
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  
    .modal-content {
        background-color: #fefefe;
        border-radius: 20px;
        border: 4px solid #8D2F3F;
        margin: 15% auto;
        padding: 20px;
        width: 50%;
        height: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
  
        p {
            margin: auto 0;
            font-size: 24px;
        }
  
        button {
            border-radius: 10px;
            border: none;
            padding: 8px;
            align-items: center;
            background: #AC3146;
            color: #fff;
            font-size: 16px;
            width: 40%;
            border: 3px solid #AC3146;
        }
  
        button:hover {
            background: none;
            border: 3px solid #AC3146;
            color: #000;
        }
        .close-modalshow-btn {
            margin-top: 100px;
        }
    }
  }

@media (max-width: 1200px),
(min-width: 1200px) {
    .win {
        width: 800px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        ul {
            display: flex;
            justify-content: space-around;


            .win-list-block {
                width: 150px;
                // height: 200px;

                h3 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .win {
        width: 650px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        ul {
            display: flex;
            justify-content: space-around;

            .win-list-block {
                width: 145px;

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .win {
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
            display: flex;
            justify-content: space-around;
            gap: 20px;

            li {
                width: 400px;

                .win-list-block {
                    // width: 85px;

                    .win-list {
                        width: auto;

                        h3 {
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 488px) {
    .win {
        width: 550px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .win-list-block {
                width: 110px;

                h3 {
                    font-size: 10px;
                    font-weight: 600;
                }
            }
        }
    }
}