<div class="main">
  <div class="win">
    <div class="win-title">
      <h1>Выполнение задания</h1>
      <button (click)="showContent()">?</button>
    </div>
    <div class="exercise">
      <ul>
      <li class="win-list" *ngFor="let exercise of exercises; let i = index">
            <div class="win-list-block">
              <div class="win-list-block-img">
                <img [src]="'/assets/img/Verb' + (i + 1) + '.jpg'" alt="">
              </div>
              <input type="text" [(ngModel)]="exercise.userAnswer" (keyup.enter)="checkAnswersAndUpdateState()" />
            </div>
          </li>
        </ul>
    </div>
    <div class="btn-block">
      <button class="btn" (click)="checkAnswersAndUpdateState()"><span>Аделам</span></button>
      <button class="btn" routerLink="../Home"><span>Меке</span></button>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <div class="show-title">
      <h2>Упражнение выполнено!</h2>
  </div>
  <p>Ваш результат: {{ result }}</p>
  <button class="close-modal-btn" (click)="showModal = false" routerLink="../Home">В меню</button>
</div>
</div>
<div *ngIf="showModalContent" class="modal">
  <div class="modal-content">
    <div class="show-title">
      <h2>В данном задании вам будет необходимо перевести на мокшанский глаголы, изображенные на рисунках, и поставить их в составное будущее время (3-е л., ед.ч) (Используйте инфинитив -кармамс-).</h2>
    </div>
    <button class="close-modalshow-btn" (click)="showModalContent = false">Закрыть</button>
  </div>
</div>